@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Rubik:wght@300&display=swap');
body{
   font-family: 'Crimson Text', serif;
   font-family: 'Rubik', sans-serif;
}
.section-1__cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   gap: 50px;
}
.title{
    font-weight: 700;
    font-size: 30px;
   color: #0B132A ;
}
.text{
    font-size: 15px;
    color: #4F5665;
    margin: 15px 0;
    line-height: 25px;
}
.section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
[class^='section-1__cards--']{
   border: 1px solid #DDDDDD;
    display: grid;
    gap: 15px;
    padding: 40px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

.Igc{
    height: 180px;
}
.tag{
    font-weight: 700;
    font-size: 30px;
   color: #0B132A ;
   justify-self: center;
}
.price{
    font-weight: 700;
    font-size: 30px;
   color: #0B132A ;
   justify-self: center;
}
.price .time{
    font-size: 30px;
    color: #4F5665;
    margin: 15px 0;
    line-height: 25px;
}

.listItem{
    font-size: 15px;
    color: #4F5665;
    margin: 15px 0;
    line-height: 30px;
}

.bi-check-lg{
    margin: 0 8px;
    color: #2FAB73;
}

.btn3{
    border: 1px solid #F53855;
    border-radius: 20px;
    justify-self: center;
    padding: 10px 50px;
}
.btn31{
    border: 1px solid #F53855;
    border-radius: 20px;
    justify-self: center;
    padding: 10px 50px;
    background-color: #F53855;
    color:white;
}

 /* Styling for responsive design */

@media(max-width:1024px){
    .section-1__cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:768px){
    .section-1__cards{
        grid-template-columns: repeat(1,0.7fr);
        justify-content: center;
    }
}
@media(max-width:568px){
    .section-1__cards{
        grid-template-columns: repeat(1,1fr);
    }
}